/**** Reset ****/
/* this section is for adding resets that makes a new clean base line for our CSS */

/* makes sizing simpler */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* remove default spacing */
* {
    margin: 0;
    padding: 0;

    /* force styling of type through styling, rather than elements */
    font: inherit;
}

/* responsive images/videos */
img,
picture,
svg,
video {
    display: block;
    max-width: 100%;

    /* ONE of these might be relevant to change how the image squish or clip */
    height: auto;
}



/* don't leave one single word hanging in paragraphs */
p {
    text-wrap: pretty;
}

/* make the rows more balanced so the headings looks nicer */
h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

/* Remove list styles on ul, ol elements with a list role */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}


/**** Variables ****/
/* this section is for adding variables, more on that tomorrow */
:root {
    /* font-families */
    --ff-main: Raleway, sans-serif;
    --ff-headings: "Josefin Sans", sans-serif;

    /* font-weights */
    --fw-bold: 600;
    --fw-bolder: 700;

    /* font-sizes */
    --fs-xsmall: .75rem;
    --fs-small: .825rem;
    --fs-large: 1.5rem;

    /* line-heights */
    --lh-tight: 1.0;
    --lh-normal: 1.5;

    /* colors */
    --clr-gray-100: snow;
    --clr-gray-200: whitesmoke;
    --clr-gray-400: grey;
    --clr-gray-500: dimgrey;
    --clr-gray-600: rgb(97, 97, 97);

    /* spacings */
    --spacing-base: .25rem;
    --spacing-small: .5rem;
    --spacing-medium: 1rem;

    /* sizes */
    --max-card-width: 70ch;
}



/**** Global styles ****/
/* here we have styles that are more generic for the whole page */
body {
    font-family: var(--ff-main);
    font-optical-sizing: auto;
    background-color: var(--clr-gray-100);

    /* Increase line-height for better readability */
    line-height: var(--lh-normal);
}

h1,
h2,
h3,
h4 {
    font-family: var(--ff-headings);
    /* less line-height on headings to keep them more compact */
    /* usually 1.1 or maybe 1 depending on font choice */
    line-height: var(--lh-tight);
}

/* be careful with font-weights and be sure that the font supports the value you chose */
strong {
    font-weight: var(--fw-bold);
}

/* same with styles, since not all fonts have italic for example */
i {
    font-style: italic;
}



/**** Composition ****/
/* these are used in cUbe to make things like layouts or flows. Like utility classes but a little more complex, still less than blocks */

/* these first two rows means same thing more or less */
/* .flow > :where(:not(:first-child)) */
.flow>*+* {
    margin-top: var(--flow-space, 1em);
}

.grid-flow {
    display: grid;
    gap: 1em;
}

.cluster {
    display: flex;
    flex-wrap: wrap;
    gap: var(--cluster-gap, var(--space-s));
    align-items: var(--cluster-align, center);
    justify-content: var(--cluster-justify, flex-start);
}


/**** utilities ****/
/* utility classes only does one thing, for example color, font-size/weigth, padding  */
.italic {
    font-style: italic;
}

.text-xs {
    font-size: var(--fs-xsmall);
}

.text-sm {
    font-size: var(--fs-small);
}

.text-lg {
    font-size: var(--fs-large);
}

.bg-gray-100 {
    background-color: var(--clr-gray-100);
}

.bg-gray-200 {
    background-color: var(--clr-gray-200);
}

.text-gray-100 {
    color: var(--clr-gray-100);
}

.text-gray-500 {
    color: var(--clr-gray-500);
}


.p-2 {
    padding: calc(var(--spacing-base) * 2);
}

.p-4 {
    padding: calc(var(--spacing-base) * 4);
}

.min-w-full {
    min-width: 100%;
}

.object-cover {
    object-fit: cover;
}

.m-auto {
    margin-inline: auto;
}


/**** Blocks ****/
/* this part is for styles for blocks like card, footer and other things that are reusable as units */

.card {
    max-width: var(--max-card-width);
    border: .125rem solid var(--clr-gray-400);

    header {
        border-bottom: 1px solid grey;
    }

    img {
        max-height: 200px;
    }

    footer {
        border: .125rem solid lightgray;
    }
}

.button {
    /* example with fallback value for the --button-bg variable*/
    --_bg-color: var(--button-bg, var(--clr-gray-100));

    cursor: pointer;

    background-color: var(--_bg-color);
    color: contrast-color(var(--_bg-color));

    /* & is a combinator that glues the nested selector to the parent */
    /* this will combine as .button:hover and .button:focus-visible in the browser */
    &:hover,
    &:focus-visible {
        background-color: blue;
        color: contrast-color(blue);
    }
}


/**** Exceptions ****/
.button[data-type="secondary"] {
    /* we can override/reuse the variable this way */
    --_bg-color: var(--clr-gray-600);
}