/**** reset ****/
/* this section is for adding resets that makes a new clean base line for our CSS */

/* makes sizing simpler */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* remove default spacing */
* {
    margin: 0;
    padding: 0;

    /* force styling of type through styling, rather than elements */
    font: inherit;
}

/* responsive images/videos */
img,
picture,
svg,
video {
    display: block;
    max-width: 100%;

    /* ONE of these might be relevant to change how the image squish or clip */
    object-fit: cover;
    /* height: auto; */
}

body {
    /* Increase line-height for better readability */
    line-height: 1.5;
}

/* less line-height on headings to keep them more compact */
/* usually 1.1 or maybe 1 depending on font choice */
h1,
h2,
h3 {
    line-height: 1;
}

/* don't leave one single word hanging in paragraphs */
p {
    text-wrap: pretty;
}

/* make the rows more balanced so the headings looks nicer */
h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

/* Remove list styles on ul, ol elements with a list role */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}


/**** variables ****/
/* this section is for adding variables, more on that tomorrow */


/**** global styles ****/
/* here we have styles that are more generic for the whole page */

body {
    font-family: Raleway, sans-serif;
    font-optical-sizing: auto;
}

h1,
h2,
h3,
h4 {
    font-family: "Josefin Sans", sans-serif;
}

/* be careful with font-weights and be sure that the font supports the value you chose */
strong {
    font-weight: 600;
}

/* same with styles, since not all fonts have italic for example */
i {
    font-style: italic;
}


/**** blocks ****/
/* this part is for styles for blocks like card, footer and so on */

.card {
    background-color: whitesmoke;
    max-width: 70ch;
    margin-inline: auto;

    /* margin-block-start: clamp(0rem, 3vw, 3rem); */
    padding: 1rem;
    font-size: .9rem;
}

.card h2 {
    font-size: 1.5rem;
    padding-top: .75em;
}

.card__header p {
    font-size: .825em;
    color: dimgrey;
    padding-bottom: 1.25em;
    border-bottom: 1px solid grey;
}

.card p {
    margin-block: 1rem;
}


.card footer {
    padding: 1em;
    border: .125rem solid grey;
}

.card img {
    min-width: 100%;
    max-height: 300px;
}

.card button {
    font-size: .75rem;
    padding: .5em;
}